<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>19-20 Octobre</string>
	<key>EventPlace</key>
	<string>Montréal, Géomatique 2016</string>
	<key>NavigationBarColour</key>
	<string>#007EC8</string>
	<key>EventDetailHeaderColour</key>
	<string>#49479D</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#49479D</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#49479D</string>
</dict>
</plist>
